@model STIProkoratKrausnerBroz.Models.ToolsClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kraušner, Prokorát, Brož";
}
<div class="infoTextDiv">
	<p>
		Tabulky níže zobrazují korelační koeficinety jednotlivých bank vůči české národní bance. 
		Podle výsledných dat lze usuzovat, že nelze určit univerzální lineární funkci, podle které 
		by šlo přepočítat kurz ČNB na kurz ostatních komerečních bank.
	</p>
</div>
<div class="rowDiv">
    <div class="tableDiv">
        <h4>AUD</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.904</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.934</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.985</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.945</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>CAD</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.839</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.860</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.985</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.888</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>DDK</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.918</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.889</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.984</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.944</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>EUR</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.919</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.910</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.983</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.959</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="rowDiv">
    <div class="tableDiv">
        <h4>GBP</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.789</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.755</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.925</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.840</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>HRK</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.916</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.908</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.975</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.960</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>HUF</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.964</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.970</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.963</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.958</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>CHF</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.944</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.934</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.987</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.959</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="rowDiv">
    <div class="tableDiv">
        <h4>JPY</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.852</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.838</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.977</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.898</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>NOK</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.808</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.771</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.907</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.670</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>PLN</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.906</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.928</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.971</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.940</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>RON</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.830</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.812</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.983</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.947</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="rowDiv">
    <div class="tableDiv">
        <h4>RUB</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.875</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.935</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.880</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.888</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>SEK</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
					<td>0.885</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.843</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.956</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.872</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableDiv">
        <h4>UDS</h4>
        <table>
            <tbody>
                <tr>
                    <td>CSOB</td>
                    <td>0.893</td>
                </tr>
                <tr>
                    <td>CS</td>
                    <td>0.887</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>0.972</td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>0.890</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
